<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<title></title>
</head>
<body>
	<h1><p align="center">HOSPITAL BILL</h1></p>

<table class="thead-striped">


      	<table align="center">
      
  <thead>
    <tr>
      <th>code</th>
      <th>Billing Heads</th>
      <th>Rate</th>
      <th>Quantity</th>
      <th> Amount in Rs. </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> Room Rent</td>
      <td><input type="number" name="" id="one"></td>
      <td><input type="number" name="" id="two"></td>
      <td><input type="textarea" name="" value="0" id="three"></td>
      <td><input type="button" name="" onclick="myfunction()"></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Nursing Charges</td>
      <td><input type="number" name="" id="four"></td>
      <td><input type="number" name="" id="five"></td>
      <td><input type="textarea" name="" value="0" id="six"></td>
      <td><input type="button" name="" onclick="myfunctionSecond()"></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>RMO Charges</td>
      <td><input type="number" name="" id="seven"></td>
      <td><input type="number" name="" id="eight"></td>
      <td><input type="textarea" name="" value="0" id="nine"></td>
      <td><input type="button" name="" onclick="myfunctionthird()"></td>
    </tr>
     <tr>
      <th scope="row">4</th>
      <td>Injection Charges</td>
      <td><input type="number" name="" id="ten"></td>
      <td><input type="number" name="" id="eleven"></td>
      <td><input type="textarea" name="" value="0" id="twelve"></td>
      <td><input type="button" name="" onclick="myfunctionfourth()"></td>
    </tr>
     <tr>
      <th scope="row"></th>
      <td>Total Room Rent Services</td>
      <td><input type="number" name="" id=""></td>
      <td><input type="number" name=""  id="" ></td>
      <td><input type="textarea" name="" value="0" id="thirteen"></td>
      <td><input type="button" name="" onclick="myfunctionfifth()"></td>
    </tr>
     <tr>
      <th scope="row">5</th>
      <td>Icu rent</td>
      <td><input type="number" name="" id="fourteen"></td>
      <td><input type="number" name="" id="fifteen"></td>
      <td><input type="textarea" name="" value="0" id="sixteen"></td>
          <td><input type="button" name="" onclick="myfunctionsixth()"></td>
    </tr>
      <tr>
      <th scope="row">6</th>
      <td>Icu nursingcharges</td>
      <td><input type="number" name="" id="seventeen"></td>
      <td><input type="number" name="" id="eighteen"></td>
      <td><input type="textarea" name="" value="0" id="nineteen"></td>
      <td><input type="button" name="" onclick="myfunctionseventh()"></td>
    </tr>
      <tr>
      <th scope="row">7</th>
      <td>Icu RMO charges</td>
      <td><input type="number" name="" id="twenty"></td>
      <td><input type="number" name="" id="twentyone"></td>
      <td><input type="textarea" name="" value="0" id="twentytwo"></td>
          <td><input type="button" name="" onclick="myfunctioneighth()"></td>
    </tr>
      <tr>
      <th scope="row">8</th>
      <td>Icu injection charges</td>
      <td><input type="number" name="" id="d"></td>
      <td><input type="number" name="" id="e"></td>
      <td><input type="textarea" name="" value="0" id="f"></td>
          <td><input type="button" name="" onclick="myfunctionninth()"></td>
    </tr>
      <tr>
      <th scope="row"></th>
      <td> Total ICU services</td>
      <td><input type="number" name="" id=""></td>
      <td><input type="number" name="" id=""></td>
      <td><input type="textarea" name="" value="0" id="g"></td>
          <td><input type="button" name="" onclick="myfunctiontenth()"></td>
    </tr>
      <tr>
      <th scope="row">9</th>
      <td>surgeon charges</td>
      <td><input type="number" name="" id="h"></td>
      <td><input type="number" name="" id="i"></td>
      <td><input type="textarea" name="" value="0" id="j"></td>
          <td><input type="button" name="" onclick="myfunctioneleventh()"></td>
    </tr>
      <tr>
      <th scope="row">10</th>
      <td>anesthetist charges</td>
      <td><input type="number" name="" id="k"></td>
      <td><input type="number" name="" id="l"></td>
      <td><input type="textarea" name="" value="0" id="m"></td>
          <td><input type="button" name=""  onclick="myfunctiontwelveth()"></td>
    </tr>
      <tr>
      <th scope="row">11</th>
      <td>consultant charges</td>
      <td><input type="number" name="" id="n"></td>
      <td><input type="number" name="" id="o"></td>
      <td><input type="textarea" name=""  value="0" id="p"></td>
          <td><input type="button" name="" onclick="myfunctionthirteenth()"></td>
    </tr>
      <tr>
      <th scope="row"></th>
      <td>Total Professional  Fee</td>
      <td><input type="number" name="" id=""></td>
      <td><input type="number" name="" id=""></td>
      <td><input type="textarea" name="" value="0" id="q"></td>
          <td><input type="button" name="" onclick="myfunctionfourteenth()"></td>
    </tr>
      <tr>
      <th scope="row">12</th>
      <td>medicines</td>
      <td><input type="number" name="" id="r"></td>
      <td><input type="number" name="" id="s"></td>
      <td><input type="textarea" name="" value="0" id="t"></td>
          <td><input type="button" name="" onclick="myfunctionfifteenth()"></td>
    </tr>
      <tr>
      <th scope="row">13</th>
      <td>oxygen</td>
      <td><input type="number" name="" id="u"></td>
      <td><input type="number" name="" id="v"></td>
      <td><input type="textarea" name="" value="0" id="w"></td>
          <td><input type="button" name="" onclick="myfunctionsixteenth()"></td>
    </tr>
      <tr>
      <th scope="row"></th>
      <td>Total of other expenses</td>
      <td><input type="number" name="" id=""></td>
      <td><input type="number" name="" id=""></td>
      <td><input type="textarea" name="" value="0" id="x"></td>
          <td><input type="button" name="" onclick="myfunctionseventeenth()"></td>
    </tr>
        <tr>
      <th scope="row"></th>
      <td>grand total</td>
      <td><input type="number" name="" id=""></td>
      <td><input type="number" name="" id=""></td>
      <td><input type="textarea" name="" value="0" id="y"></td>
          <td><input type="button" name="" onclick="myfunctioneighteenth()"></td>
    </tr>
       <tr>
      <th scope="row"></th>
      <td>patient paid amount</td>
      <td><input type="number" name="" id=""></td>
      <td><input type="number" name="" id=""></td>
      <td><input type="textarea" name="" value="0" id="z"></td>
          <td><input type="button" name="" onclick="myfunctionnineteenth()"></td>
    </tr>




  </tbody>
</table>
<script type="text/javascript">
	function myfunction(){
	document.getElementById("three").value=parseInt(document.getElementById("two").value)*parseInt(document.getElementById("one").value)}

	function myfunctionSecond(){
	document.getElementById("six").value=parseInt(document.getElementById("five").value)*parseInt(document.getElementById("four").value)}

	function myfunctionthird(){
	document.getElementById("nine").value=parseInt(document.getElementById("eight").value)*parseInt(document.getElementById("seven").value)}

	function myfunctionfourth(){
	document.getElementById("twelve").value=parseInt(document.getElementById("eleven").value)*parseInt(document.getElementById("ten").value)}

	function myfunctionfifth(){
	document.getElementById("thirteen").value=parseInt(document.getElementById("three").value)+parseInt(document.getElementById("six").value)+parseInt(document.getElementById("nine").value)+parseInt(document.getElementById("twelve").value)}

	function myfunctionsixth(){
	document.getElementById("sixteen").value=parseInt(document.getElementById("fifteen").value)*parseInt(document.getElementById("fourteen").value)}

	function myfunctionseventh(){
	document.getElementById("nineteen").value=parseInt(document.getElementById("eighteen").value)*parseInt(document.getElementById("seventeen").value)}

	function myfunctioneighth(){
	document.getElementById("twentytwo").value=parseInt(document.getElementById("twentyone").value)*parseInt(document.getElementById("twenty").value)}

	function myfunctionninth(){
	document.getElementById("f").value=parseInt(document.getElementById("e").value)*parseInt(document.getElementById("d").value)}

	function myfunctiontenth(){
	document.getElementById("g").value=parseInt(document.getElementById("sixteen").value)+parseInt(document.getElementById("nineteen").value)+parseInt(document.getElementById("twentytwo").value)+parseInt(document.getElementById("f").value)}


	function myfunctioneleventh(){
	document.getElementById("j").value=parseInt(document.getElementById("i").value)*parseInt(document.getElementById("h").value)}

	function myfunctiontwelveth(){
	document.getElementById("m").value=parseInt(document.getElementById("l").value)*parseInt(document.getElementById("k").value)}

	function myfunctionthirteenth(){
	document.getElementById("p").value=parseInt(document.getElementById("o").value)*parseInt(document.getElementById("n").value)}

	function myfunctionfourteenth(){
		document.getElementById("q").value=parseInt(document.getElementById("j").value)+parseInt(document.getElementById("m").value)+parseInt(document.getElementById("p").value)}


	function myfunctionfifteenth(){
	document.getElementById("t").value=parseInt(document.getElementById("s").value)*parseInt(document.getElementById("r").value)}

	function myfunctionsixteenth(){
	document.getElementById("w").value=parseInt(document.getElementById("v").value)*parseInt(document.getElementById("u").value)}

	function myfunctionseventeenth(){
	document.getElementById("x").value=parseInt(document.getElementById("t").value)+parseInt(document.getElementById("w").value)}


	function myfunctioneighteenth(){
	
document.getElementById("y").value=parseInt(document.getElementById("thirteen").value)+parseInt(document.getElementById("g").value)}+document.getElementById("q").value+parseInt(document.getElementById("x").value)



	function myfunctionnineteenth(){
	document.getElementById("z").value=parseInt(document.getElementById("thirteen").value)+parseInt(document.getElementById("g").value)+parseInt(document.getElementById("q").value)}+parseInt(document.getElementById("x").value)




</script>

	


</body>
</html>